.post{
  width: 800px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.image{
  width: 400px;
  height: 400px;
}
.title{
  width: 400px;
  height: 100px;
}
.link{
  width: 400px;
  height: 100px;
}
.description{
  width: 400px;
  height: 200px;
}
.navigationInfo{
  width: 800px;
  height: 64px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.currentPostInfo{
  margin-left: 20px;
  margin-right: 20px;
}
.button{
  overflow: hidden;
  transform: translateZ(0);
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
